*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* "col-" ile başlayan tüm sınıflara uygulansın */
[class*="col-"]{
  float: left;
  padding: 0px;
  margin: 5px 0;
  border: 1px solid red;
}

.row{border: darkgray solid 2px;}

/* Satır içeriklerini temizletip tablo gibi göstermek için */
.row::after{
  content: "";
  clear: both;
  display: table;
}
/* Cep telefonlarında her kutu %100 genişlikte olsun */
@media screen and (max-width:768px) {
  [class*="col-"]{width: 100%;}
  #menu ul{
    flex-direction: column;
  } 
  #menu li{
    width: 100%;
  }
  #menu li a{
    display: block;
  }
}

img{
  width: 100%;
  height: auto;
}

#foto{
  text-align: center;
}
#foto img{
  width: auto;
  height: 200px;
  padding-bottom: 0;
  vertical-align: middle;
  box-shadow: 0px 0px 10px  rgb(42, 39, 39);
  border-radius: 0 30px 0 30px;
}

/* nav */
#menu{
  display: flex;
  background-color: lightgrey;
  height: 202px;
}

#menu ul{
  border: 2px black solid ;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  
  
}


/* nav menüsünün liste ayarları */
#menu li{
  list-style-type: none;
  text-align: center;
}


/* nav menüsünün yazı ayarları */
#menu li a{
  color: rgb(42, 39, 39);
  font-size: larger;
  font-weight: bolder;
  background-color: darkgray;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0px 0px 10px 10px dimgray inset;
  
}

#menu li a:active{
  box-shadow: 0px 0px 15px 5px dimgray inset;

}

#sosyal{
  /* position: absolute; */
  /* right: 0;
  bottom: 0; */
  /* float: right; */
  
  background-color: blue;
  /* text-align: center; */



}
#sosyal img{
  width: 40px;
  height: auto;
  margin: 10px;
  vertical-align: middle;
}

h1,h2{
  text-transform: uppercase;
  text-align: center;
}
p{
  text-indent: 30px;
}

/* başlık ve paragrafların arasındaki boşluk */
h1,h2,p{
  margin: 20px;
  
}

#row2{
  position: relative;
  overflow: hidden;
  min-height: fit-content;
}
/* arkaplan resmi ayarları */
#row2>img{
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  object-fit: cover;
}

#icerik img{
width: 200px;
height: 100%;
margin:20px;
box-shadow: 0 0 5px gray;
}

/* footer altsol ayarları */
#altsol{
  padding: 20px;
}

#altsol a{
  text-decoration: none;
}

/* footer ayarları */
#row3{
  background-color: lightgray;
  line-height: 30px;
}

#row3 a{
  color: black;

}
/* footer link üzerine gelince */
#row3 a:hover{
  padding: 5px;
  box-shadow: 0 0 5px gray;
  border-radius: 20px;
}
/* footer altorta ayarları */
#altorta{
  padding: 20px;
}
#altorta a{
  text-decoration: none;
}

/* footer altsag ayarları */
#altsag{
  padding: 20px;
}
#altsag a{
  text-decoration: none;
}
#row3 p{
  text-align: center;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
}

#iletisim{
  padding: 10px;
}
#iletisim>table{
  padding: 10px;
  margin-left: 20px;
}
#iletisim>h1{
  text-align: left;
  margin-left: 40px;
}
th,td{
padding: 20px;
box-shadow: 0 0 5px gray;
}